.rick {
    &-background {
        background: url(../../assets/img/Temporada_7.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}